<base href="/">

<app-header (featureSelected) = "onNavigate($event)" (branchSelected) = "sendBranch($event)" (isClicked) = "isClicked"></app-header>

<div *ngIf="!isClicked">
  <app-home></app-home>
</div>
<!-- HERE!
{{check}} -->

<div *ngIf="isClicked">
  <app-categories [featureChose] = "branch"  [locationChose] = "location" ></app-categories>
</div>

<router-outlet></router-outlet>


<!-- <app-dropdown></app-dropdown> -->

<!-- <app-categories [featureChose] = "sendFeature($event)"></app-categories> -->
